body {
    background-color: #FF99FF;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: blue;    
}
section.output {
    display: block;
    clear: both;
    border: 3px solid yellow;
    border-radius: 2px;
    padding: 10px; 
    background-color: #D1FFA3;
}
div#content {
    display: none;
    padding: 5px;
}
ul.tablist {
    margin: 0;
    padding: 0;
}
ul.tabs li {
    display: inline;
    overflow: hidden;
    background-color: grey;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
}
ul.tabs li:hover {
    background-color: orange;
}
ul.tabs li a {
    color: purple;
}
.tabs {
    text-align: center;
    padding-right: 30px;
}