<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="tabs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="tabs.js"></script>
  </head>
  <body>
<h1>Angular Tabs</h1>
<div ng-controller='tabController'>
	<div ng-show='tabs.length > 0'>
		<ul class='tablist'>
			<li ng-repeat='tab in tabs'>
				<a href='#{{tab.name}}' ng-click="showTab(tab)">{{tab.name}}</a>
				<div id='tabcontentlist'>{{tab.content}}</div>
			</li>
		</ul>
		<section class='taboutput'>{{activeTab.content}}</section>
	</div>
</div>

  </body>
</html>