a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    border: 1px solid black;
}
li {
    display: inline-block;
    margin-right: 10px;
    padding:5px;
}
.noShow {
    display:none;
}
#display {
    border: 5px inset #99FF00;
    height: 200px;
}
.selected {
  background-color: #F0E68C;
}
